# general
*/.yarn
*/.env*
*/simc

# simview
simview/generated
simview/.next
simview/.pnp.*

simview/yarn.lock

# persistent-worker
persistent-worker/node_modules
persistent-worker/bin
persistent-worker/yarn-error.log
